<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
  Configuration de lancement partagée : Run > Run Configurations... > Java Application > PlateformeApi-dev
  Démarre l'API avec le profil "dev" (base PostgreSQL de docker compose).
-->
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bf.edutech.plateforme.PlateformeApplication"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="plateforme-api"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dspring.profiles.active=dev -Dfile.encoding=UTF-8"/>
</launchConfiguration>
